.logged-layout-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem;
}

.sidebar {
  width: 20rem;
  height: 100%;
  margin-bottom: 0;
}

.content-body {
  flex-grow: 1;
  height: 100%;
}
