<main class="center-screen default-background logged-layout-container">
  <aside class="card sidebar">
    <div class="card-content">
      <div class="content">
        <h1 class="title is-1 libre-barcode-39-regular has-text-centered mb-0">Aoba</h1>
        <hr class="mt-0" />
        <app-sidebar-button label="test" [icon]="testIcon" url="" />
        <app-sidebar-button label="test2" [icon]="testIcon" url="d" />
        <app-sidebar-button label="test3" [icon]="testIcon" url="ds" />
        <app-sidebar-button label="test4" [icon]="testIcon" url="sd" />
      </div>
    </div>
  </aside>
  <section class="card content-body">
    <div class="card-content">
      <div class="content">
        <router-outlet />
      </div>
    </div>
  </section>
</main>
